@import "tailwindcss";

@keyframes float {
  0%,100%{transform:translateY(0);}
  50%{transform:translateY(-15px);}
}
.animate-float{animation:float 6s ease-in-out infinite;}

@keyframes pulse-slow {
  0%,100%{transform:scale(1);opacity:0.3;}
  50%{transform:scale(1.2);opacity:0.5;}
}
.animate-pulse-slow{animation:pulse-slow 8s ease-in-out infinite;}

@keyframes spin-slow {
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
.animate-spin-slow{animation:spin-slow 40s linear infinite;}